h1, h2{
    font-size: 34px;
    margin-bottom: 50px;
}

p,a{
    font-size: 18px;
    font-family: 'inter', sans-serif;
}

section{
    padding: 100px 96px;
    margin-bottom: 50px;
}

.adn-section{
    padding: 100px 16px;
}

.value div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #117B96;
    box-shadow: 5px 5px 5px rgba(3, 3, 3, 0.294);
    border-radius: 20px;
    padding: 50px 80px;
    gap: 10px;
}

h3{
    font-family: 'inter', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 22px;
}

.title,
.title-footer{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'manrope', sans-serif;
}

.title{
    color: #117B96;
    margin-bottom: 50px;
}

.adn-section h2{
    color: #f5f5f5;
}

.method div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #117B96;
    box-shadow: 5px 5px 5px rgba(3, 3, 3, 0.294);
    border-radius: 20px;
    padding: 90px 50px;
    gap: 50px;
}

@media screen and (max-width:600px) {
    h1, h2,
    .title{
        font-size: 24px;
    }

    h3{
        font-size: 18px;
    }

    section{
        padding: 50px 20px;
    }   

    .value div{
        padding: 20px 40px;
    }
}

@media screen and (max-width:400px) {
    .method div{
        padding: 50px 20px;
    }
}