h1, h2{
    font-size: 32px;
}

p,a{
    font-size: 18px;
    font-family: 'inter', sans-serif;
}

section{
    padding: 100px 96px;
}

.value div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #117B96;
    box-shadow: 5px 5px 5px rgba(3, 3, 3, 0.294);
    border-radius: 20px;
    padding: 50px 80px;
    gap: 10px;
}

h3{
    font-family: 'inter', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 22px;
}

.title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'manrope', sans-serif;
}

.about div{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #117B96;
    border-radius: 30px 0 30px 0;
    margin-bottom: 20px;
    padding: 15px;
    color: #f5f5f5;
}

@media screen and (max-width:600px) {
    h1, h2{
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

    section{
        padding: 50px 20px;
    }   

    .value div{
        padding: 20px 40px;
    }
}