h1,h2{
    font-family: 'manrope', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}

h1{
    font-size: 34px;
    
}

p{
    font-family: 'inter', sans-serif;
}

@media screen and (max-width:600px) {
    h1{
        font-size: 30px;
    }
}