.menu a:hover,
.menu a.active{
    text-decoration: underline;
    text-decoration-color: #29ABE2;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

a{
    font-size: 18px;
    font-family: 'inter', sans-serif;
}

@media screen and (max-width:1000px) {
    .menu a:hover,
    .menu a.active{
        text-decoration: none;
    }
}

@media screen and (max-width:600px) {
    header{
        padding: 20px 20px;
    }
}